.widget-frame {
    width: 500px;
    height: 550px;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .widget-frame #widget-holder {
    width: 100%;
    height: 100%;
  }
  
  .widget-frame::-webkit-scrollbar {
    width: 8px;
  }
  
  .widget-frame::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  .widget-frame::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .widget-frame::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  